[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "chess>=1.11.2",
    "dspy>=3.0.4",
    "fastapi[standard]>=0.121.0",
    "openai>=2.7.2",
    "orjson>=3.11.4",
    "requests>=2.32.5",
]

[dependency-groups]
dev = [
    "ipykernel>=7.1.0",
]
