piece {
    width: 12.5% !important;
    height: 12.5% !important;
}

.orientation-white .files coord:nth-child(2n + 1),
.orientation-white .ranks coord:nth-child(2n),
.orientation-black .files coord:nth-child(2n),
.orientation-black .ranks coord:nth-child(2n + 1) {
    color: #ebecd0 !important;
}

.orientation-white .files coord:nth-child(2n),
.orientation-white .ranks coord:nth-child(2n + 1),
.orientation-black .files coord:nth-child(2n + 1),
.orientation-black .ranks coord:nth-child(2n) {
    color: #739552 !important;
}

cg-board {
    background-image: url("assets/themes/green.svg") !important;
}
cg-board .pawn.white {
    background-image: url("assets/pieces/standard/plt.svg") !important;
}
cg-board .pawn.black {
    background-image: url("assets/pieces/standard/pdt.svg") !important;
}
cg-board .bishop.white {
    background-image: url("assets/pieces/standard/blt.svg") !important;
}
cg-board .bishop.black {
    background-image: url("assets/pieces/standard/bdt.svg") !important;
}
cg-board .rook.white {
    background-image: url("assets/pieces/standard/rlt.svg") !important;
}
cg-board .rook.black {
    background-image: url("assets/pieces/standard/rdt.svg") !important;
}
cg-board .knight.white {
    background-image: url("assets/pieces/standard/nlt.svg") !important;
}
cg-board .knight.black {
    background-image: url("assets/pieces/standard/ndt.svg") !important;
}
cg-board .queen.white {
    background-image: url("assets/pieces/standard/qlt.svg") !important;
}
cg-board .queen.black {
    background-image: url("assets/pieces/standard/qdt.svg") !important;
}
cg-board .king.white {
    background-image: url("assets/pieces/standard/klt.svg") !important;
}
cg-board .king.black {
    background-image: url("assets/pieces/standard/kdt.svg") !important;
}
